- content_for(:head) do
  = javascript_include_tag 'nuclify'

%h1= @reactor.name

= form_for @reactor do |f|
  = f.field :name
  = f.field :threshhold
  = f.submit

%table
  - @reactor.reactor_cores.each do |core|
    %tr
      %td= core.name
      %td
        - enough_buffer = core.buffer - core.energy_out
        = "You are " + engough_buffer > 0 ? "Alive" : "Dead"

